<div class="container">
    <div class="form-group row">
      <div class="col-sm text-center">
        <h4  class="d-block" style="background-color: #f09697; color:#fff; margin: 15px;">Lista de Alumno</h4>
       
      </div>
    </div>

    <button (click)="exportToExcel()">Export to Excel</button>

    <input type="text" [(ngModel)]="searchterm" placeholder="Buscar cadena">
  
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  
  <table class="table" *ngIf="data">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>       
        <th scope="col">Email</th>   
        <th scope="col">Fecha de registro</th>   
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ems of data  | filterpipe: searchterm | paginate: { itemsPerPage: 50, currentPage: page }">
        <th scope="row">{{ ems.id }}</th>
        <td>{{ ems.name }}</td>
        <td>{{ ems.email }}</td>   
        <td>{{ ems.created_at.substring(0, 16).replace('T', ' ')}}</td>     
        <td> 
            <button type="button" class="btn  btn-outline-primary" title="Ver Resultados" (click)="verquiz(ems)">Ver Resultados</button>  
        </td>
      </tr>
    </tbody>
  </table>