
<div class="containertest">
   
    <div class="slides">
    
    
        
    
        <!--<img class="fondo"src="../../../../assets/maqueta11/MAGNA Diapositiva 1_ fondo.png">-->
    
        <img class="enterleft f1" src="../../../../assets/maqueta11/MAGNA Diapositiva 2_ elemento 1.png">
    
        <img class="enterleft f2" src="../../../../assets/maqueta11/MAGNA Diapositiva 2_ elemento 1.png">
    
        <img class="enteright f3" src="../../../../assets/maqueta11/MAGNA Diapositiva 2_ foto.png">
    
       
        <div [class]="slideTextClass">
            
      
                <h3 ngPreserveWhitespaces [innerHTML]="text" class="slidesubtitle text-red"></h3>
                               </div>
        
            
        <img src="../../../../assets/maqueta11//MAGNA fondo transparente.png">
    
       
    
    
    
    
    
    </div>
    
     
    
    </div>
    