/*.slidertext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
   // border: 1px solid black;
    //width: 40%; 
    //height: 40%;
    
    width: 60%;// 40vw; // use vw here
    height: 90%;//40vh; // use vh here
    
    display: flex; 
    
    
    justify-content: center; 
    align-items: center
    flex-direction: column;
    


}
.slidertext > h6{
    margin: 2%;

   // color: white;
    font-family: 'Montserrat', sans-serif;

    position:relative;
    display: block;


    font-size: 1.5vw; //only for p
    animation: slideInFromBottom 1s ease-out forwards;
    animation-delay: 1.5s;

}

.slidertext > h3{
    margin: 2%;

    //color: white;
    font-family: 'Montserrat', sans-serif;

    position:relative;
    display: block;


    font-size: 2.5vw; //only for p
    animation: slideInFromBottom 1s ease-out forwards;
    animation-delay: .3s;

    transform: translateY(100%);
    opacity: 0;

}

.slidertext > h4{
    margin: 2%;

    //color: white;
    font-family: 'Montserrat', sans-serif;

    position:relative;
    display: block;


    font-size: 2.2vw; //only for p
    animation: slideInFromBottom 1s ease-out forwards;
    animation-delay: 1.5s;

}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}*/