
<div class="containertest">
   
    <div class="slides">
    
    
        
    
        <!--<img class="fondo"src="../../../../assets/maqueta11/MAGNA Diapositiva 1_ fondo.png">-->
    
        <img class="enterleft f1" src="../../../../assets/maqueta11/MAGNA Diapositiva 2_ elemento 1.png">
    
        <img class="enterleft f2" src="../../../../assets/maqueta11/MAGNA Diapositiva 2_ elemento 1.png">
    
        <img class="enteright f3" src="../../../../assets/maqueta11/MAGNA Diapositiva 2_ foto.png">
    
       
        <div class="borderer-box bigbox" [class]="slideTextClass">       
            
        <!--
        <h3 class="slidesubtitle text-red">
            Es importante recordar: Políticas de cero tolerancia MAGNA.
        </h3>            

        
            <h6  class="text-red"> Loto.<br> 
                Trabajos críticos sin capacitación previa.<br> 
                Realizar trabajos de riesgo sin AST.<br> 
                Interacción con montacargas sin capacitación.<br> 
                Fumar en planta.
                </h6>

                <h4 class="text-red">
                    Si no has recibido entrenamiento especializado en :
                </h4>
                <h6 class="text-red">
                    Loto<br>
                    Montacargas<br>
            Trabajo en Alturas<br>
                Corte y Soldadura<br>
                Espacios confinados<br>
Sustancias Químicas<br>
Grúas Viajeras y Polipastos<br>
                </h6>

                <h6 class="text-red">
                    Por ningún motivo cometas el error de ejecutar dichas acciones, tu integridad podría estar en riesgo.
                </h6>
                -->
                <h3 ngPreserveWhitespaces [innerHTML]="text" class="slidesubtitle text-grey"></h3>
                     
                <p *ngIf="secondslide">"Trabajar sin Loto.<br>           
                </p>
                <p *ngIf="secondslide">            Trabajos críticos sin capacitación previa.<br>   
                </p>
                <p *ngIf="secondslide">           Realizar trabajos de riesgo sin AST.<br>   
                </p>
                <p *ngIf="secondslide">            Interacción con montacargas sin capacitación.<br>            
                </p>
                <p *ngIf="secondslide">          Fumar en planta.";
                </p>
              
                <p *ngIf="thirdslide"> 
                Loto<br>    
                 </p>
                 <p *ngIf="thirdslide"> 
                        Montacargas<br>
                     </p>
                     <p *ngIf="thirdslide"> 
                       Trabajo en Alturas<br> 
                         </p>
                         <p *ngIf="thirdslide"> 
                             Corte y Soldadura<br>  
                             </p>
                             <p *ngIf="thirdslide"> 
                               Espacios confinados<br>
                                 </p>
                                 <p *ngIf="thirdslide"> 
                                   Sustancias Químicas<br>
                                     </p>
                                     <p *ngIf="thirdslide"> 
                                      Grúas Viajeras y Polipastos;
                                          </p>


            </div>


        
            
        <img src="../../../../assets/maqueta11//MAGNA fondo transparente.png">
    
       
    
    
    
    
    
    </div>
    
     
    
    </div>
    