<body>
    
    <div class="containertest">
       
        <div class="slides">
        
        
            
        
            <!--<img class="fondo"src="../../../../assets/maqueta11/MAGNA Diapositiva 1_ fondo.png">-->
        
            <img class="enterleft f1" src="../../../../assets/maqueta11/MAGNA Diapositiva 2_ elemento 1.png">
        
            <img class="enterleft f2" src="../../../../assets/maqueta11/MAGNA Diapositiva 2_ elemento 1.png">
        
           
        
           
          <div class="slidetitle">
    <h4>CONTENIDO DESCARGABLE</h4>
    <a href="path/to/your/file" download="filename" id="downloadButton"  class="download-button"  ngbPopover="Descarga para ver siguiente diapositiva" placement="top" triggers="mouseenter:mouseleave">Download</a>
    
    </div>

    <div class="slidesubtitle text-red">Lee este documento antes de seguir</div>
            
                
            <img src="../../../../assets/maqueta11//MAGNA fondo transparente.png">
        
           
        
        
        
        
        
        </div>
        
         
        
        </div>
    
    
    </body>