<div class="containertest">

    <div class="slides">
        <img class="absolute" src="../../../../assets/maqueta11//MAGNA fondo transparente.png">

        <img class="enterleft f1" src="../../../../assets/MAGNA-fondo2.png">

        <img class="enterleft f2" src="../../../../assets/MAGNA-fondo_general.png">

        <img class="enterbottom f4" src="../../../../assets/Felicitaciones/MAGNA-felicitacion1-2.png">



        <!-- <h5 class="slidetitle">Felicitaciones! Has completado el Módulo 1.1
          </h5>-->
        <img src="../../../../assets/maqueta11//MAGNA fondo transparente.png">


    </div>
</div>