<div class="container">
    <div class="form-group row">
        <div class="col-sm text-center">
            <h4 class="d-block" style="background-color: #87161c; color:#fff; margin: 15px;">Renueva tu contraseña</h4>
        </div>
    </div>
    <!--<h1 class="mt-5 mb-5 text-center" style=" background: #fa4444; color: #fff; padding: 10px 0; ">Angular 10 Laravel 7 User Login</h1>-->
    <div style="padding: 10px;border: 2px solid hsl(0, 0%, 93%);">



        <form [formGroup]="ff" (ngSubmit)="postuser(ff.value)">

            <p><strong>Email: </strong>
                <input type="email" class="form-control" formControlName="email" email>

            </p>
            <div *ngIf="ff.controls['email'].invalid && (ff.controls['email'].dirty || ff.controls['email'].touched)"
                class="alert alert-info">
                Ingresa un email válido</div>
            <div class="form-group">
                <strong>Password:</strong>
                <input type="text" formControlName="password" name="password" autocomplete="on" class="form-control"
                    [ngClass]="{ 'is-invalid': loginsubmitted && ff.get('password')?.errors }" />

                <div *ngIf="ff.controls['password'].invalid && (ff.controls['password'].dirty || ff.controls['password'].touched)"
                    class="alert alert-info">
                    Ingresa un password de 6 digitos</div>
            </div>

            <div class="form-group">
                <strong>Confirma el Password:</strong>
                <input type="text" formControlName="password_confirmation" name="password_confirmation"
                    autocomplete="on" class="form-control"
                    [ngClass]="{ 'is-invalid': loginsubmitted && ff.get('password_confirmation')?.errors }" />

                <div *ngIf="ff.controls['password_confirmation'].invalid && (ff.controls['password_confirmation'].dirty || ff.controls['password'].touched)"
                    class="alert alert-info">
                    Ingresa un password de 6 digitos</div>
                <div *ngIf="ff.errors?.['mismatch']" class="alert alert-info">
                    Passwords do not match
                </div>
            </div>

            <br>
            <!--
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Remember me
          </label>
        </div>-->
            <button type="submit" [disabled]="ff.invalid" class="btn btn-secondary"
                style="background-color: #f09697;">Enviar</button>
        </form>
    </div>




    <br>



</div>
<!--
      <form name="logoutForm" (ngSubmit)="onLogoutSubmit()" >
      <button type="submit" class="btn btn-primary">Cerrar sesión</button>
    </form>-->