<p>testingmagna works!</p>
<body xmlns="http://www.w3.org/1999/xhtml" data-workspace-desktop-width="1160" marginwidth="0" marginheight="0" data-widget="arena" data-variant-id="0" id="body-frfvy5n" data-uid="body-frfvy5n" data-draggable="false" class="is-published" data-viewing-mode="desktop" data-workspace-phone-width="400" data-optimize-phone="true" style="min-width: 400px;"><div hidden="true" id="OPT">
    <form action="#" method="post">
        <div>
            <select name="GoogleWebFont" data-initial-load="true">
                
                
            <option value="Montserrat,Arial,sans-serif">Montserrat:400,400i,700,700i:cyrillic,greek,latin-ext,vietnamese</option><option value="'Source Sans Pro', sans-serif">Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i:greek-ext,cyrillic,latin-ext,cyrillic-ext,vietnamese,latin,greek</option></select>
        </div>
    </form>
</div><section data-section="section" data-draggable="true" id="section-pf2rep9" data-uid="section-pf2rep9" class="">
<div data-section="wrap" data-reverse="true"><div data-editable="multimedia:image" id="edi-6biyy26" data-uid="edi-6biyy26" data-draggable="true" class="" style="background: none;">

<img src="https://us-ms.gr-cdn.com/getresponse-GLk4j/photos/f9e9f128-ea52-415d-b1c3-bbc73341f591.png" alt="" width="202" height="41"></div><div data-editable="text" id="edi-hnjh2tb" data-uid="edi-hnjh2tb" data-draggable="true" class=""><div class="text-content" dir="auto"><span style="font-weight: 700; color: rgb(255, 255, 255);">MAGNA CELAYA&nbsp;</span></div></div><div data-editable="text" id="edi-qa0tkjg" data-draggable="true" data-uid="edi-qa0tkjg" class=""><div class="text-content" dir="auto"><span style="color: rgb(255, 255, 255);">¡Te da la bienvenida!</span></div></div><div data-editable="box" id="edi-f4cl1tw" data-uid="edi-f4cl1tw" class="" data-draggable="true" data-reverse="true"><div data-editable="text" id="edi-pa0rehs" data-draggable="true" data-uid="edi-pa0rehs" class="">
<div class="text-content" dir="auto"><span style="color: rgb(255, 255, 255); font-family: Montserrat, Arial, sans-serif; font-weight: bold;">DE SEGURIDAD</span></div>
</div><div data-editable="text" id="edi-jqn4ob4" data-uid="edi-jqn4ob4" data-draggable="true" class="">
<div class="text-content" dir="auto"><span style="color: rgb(255, 255, 255); font-family: Montserrat, Arial, sans-serif;">CURSO DE CONCIENTIZACIÓN</span></div>
</div></div><div data-editable="text" id="edi-a9rcntb" data-uid="edi-a9rcntb" data-draggable="true" class="">
<div class="text-content" dir="auto">Porque tu tiempo es muy valioso para nosotros, preparamos una inducción digital, <span style="font-weight: bold;">clara, breve y concisa.</span><div><br></div></div>
</div><div data-editable="shapes:line" data-type="hline" id="edi-o7dn320" data-draggable="true" data-uid="edi-o7dn320" class="" style="height: auto;"><div class="inner-line"></div></div></div>
</section><section data-section="section" id="section-4j6cwt7" data-uid="section-4j6cwt7" data-draggable="true" data-bggradient="linear-gradient(to bottom, rgba(78, 27, 27, 1), rgba(118, 189, 255, 1))" class="">
    <div data-section="wrap" class="wrap" data-reverse="true">
        
        
        
        
        
        
    <div data-editable="text" id="edi-iwscpt8" data-uid="edi-iwscpt8" data-draggable="true" class="">
<div class="text-content" dir="auto"></div>
</div><div data-editable="text" id="edi-lfrbv0l" data-uid="edi-lfrbv0l" data-draggable="true" class="">
<div class="text-content" dir="auto"></div>
</div><div data-editable="text" id="edi-hs2jwnw" data-uid="edi-hs2jwnw" data-draggable="true" class="">
<div class="text-content" dir="auto"><span style="font-weight: bold; color: rgb(217, 37, 56);">Para mejorar tu experiencia en esta plataforma, te aconsejamos mirar el siguiente tutorial:</span></div>
</div><div data-editable="video" id="edi-v6ph94l" data-uid="edi-v6ph94l" data-draggable="true" class=""><iframe src="//youtube.com/embed/1oHmlOQRjl0?controls=1&amp;autoplay=0&amp;loop=0&amp;showinfo=1&amp;rel=0" allowfullscreen="" frameborder="0" height="100%" width="100%" data-src="//youtube.com/embed/1oHmlOQRjl0?controls=1&amp;autoplay=0&amp;loop=0&amp;showinfo=1&amp;rel=0"></iframe></div></div>
</section><section data-section="section" data-draggable="true" id="section-v52a72c" data-uid="section-v52a72c" class="">
<div data-section="wrap" data-reverse="true"><div data-editable="text" id="edi-69x3raw" data-uid="edi-69x3raw" class="" data-draggable="true">
<div class="text-content" dir="auto">El  participante adquirirá los <span style="font-weight: bold;">conocimientos, habilidades y actitudes </span>para comenzar a desempeñar su labor correcta y de&nbsp;<span style="font-size: 18px;">maneras segura.</span></div>
</div><div data-editable="text" id="edi-j1i12wn" data-uid="edi-j1i12wn" data-draggable="true" class="">
<div class="text-content" dir="auto"><span style="font-family: Montserrat, Arial, sans-serif; font-weight: bold;">Metodología y recomendaciones</span></div>
</div><div data-editable="text" id="edi-j7djeam" data-uid="edi-j7djeam" class="" data-draggable="true">
<div class="text-content" dir="auto"><ul><li><span style="">Curso Online con material didáctico de apoyo.&nbsp;</span></li><li><span style="">Se recomienda tomar este curso de corrido sin saltar clases.&nbsp;</span></li><li><span style="">Revisar las actividades y formatos complementarias de la plataforma.</span></li></ul></div>
</div><div data-editable="shapes:line" data-type="hline" id="edi-sro6udg" data-uid="edi-sro6udg" data-draggable="true" class="" style="height: auto;"><div class="inner-line"></div></div><div data-editable="shapes:line" data-type="hline" id="edi-4lnufaf" data-draggable="true" data-uid="edi-4lnufaf" class="" style="height: auto;"><div class="inner-line"></div></div><div data-editable="multimedia:image" id="edi-6mnt7g6" data-uid="edi-6mnt7g6" class="" data-draggable="true" style="background: none;">

<img src="https://us-ms.gr-cdn.com/getresponse-GLk4j/photos/be79463d-faee-413a-99d6-a12eda9fde0f.png" alt="" width="472" height="113"></div><div data-editable="text" id="edi-fs7qur3" data-uid="edi-fs7qur3" class="" data-draggable="true">
<div class="text-content" dir="auto"><span style="font-family: Montserrat, Arial, sans-serif;">OBJETIVO</span></div>
</div></div>
</section><section xmlns="http://www.w3.org/1999/xhtml" data-section="section" id="section-avksdpr" data-draggable="true" data-bggradient="linear-gradient(to bottom, rgba(83, 32, 32, 1), rgba(118, 189, 255, 1))" data-uid="section-avksdpr" class="">
    <div data-section="wrap" class="wrap" data-reverse="true">
        
        
        
        
        
        
    <div data-editable="text" id="edi-q8f64tz" data-draggable="true" data-uid="edi-q8f64tz" class="">
<div class="text-content" dir="auto"></div>
</div><div data-editable="text" id="edi-9edzrhb" data-draggable="true" data-uid="edi-9edzrhb" class="">
<div class="text-content" dir="auto"></div>
</div><div data-editable="text" id="edi-407g2g7" data-uid="edi-407g2g7" class="" data-draggable="true">
<div class="text-content" dir="auto"></div>
</div><div data-editable="text" id="edi-8pbrhmu" data-uid="edi-8pbrhmu" class="" data-draggable="true">
<div class="text-content" dir="auto"></div>
</div><div data-editable="multimedia:image" id="edi-pb92n9h" data-uid="edi-pb92n9h" data-draggable="true" class="" style="background: none;">

<a href="https://online.stratos360.com.mx/magna-mod1-1" data-url="https://online.stratos360.com.mx/magna-mod1-1" data-link-type="web" title="" target="_blank"><img src="https://us-ms.gr-cdn.com/getresponse-GLk4j/photos/cc8668ff-2704-47db-93a3-16ec2578969e.png" alt="" width="280" height="210"></a></div><div data-editable="multimedia:image" id="edi-trvvxgq" data-draggable="true" data-uid="edi-trvvxgq" class="" style="background: none;">

<a href="https://online.stratos360.com.mx/magna-mod1-2" data-url="https://online.stratos360.com.mx/magna-mod1-2" data-link-type="web" title="" target="_blank"><img src="https://us-ms.gr-cdn.com/getresponse-GLk4j/photos/bed0e12d-5e14-4701-bae4-c256dd6e2bdf.png" alt="" width="280" height="210"></a></div><div data-editable="multimedia:image" id="edi-n6dnj34" data-draggable="true" data-uid="edi-n6dnj34" class="" style="background: none;">

<a href="https://online.stratos360.com.mx/magna-mod1-3" data-url="https://online.stratos360.com.mx/magna-mod1-3" data-link-type="web" title="" target="_blank"><img src="https://us-ms.gr-cdn.com/getresponse-GLk4j/photos/eb3c9e01-cb71-4a43-b0fc-339b8302f4cb.png" alt="" width="280" height="210"></a></div><div data-editable="multimedia:image" id="edi-ysdjmwo" data-draggable="true" data-uid="edi-ysdjmwo" class="" style="background: none;">

<a href="https://online.stratos360.com.mx/magna-mod1-4" data-url="https://online.stratos360.com.mx/magna-mod1-4" data-link-type="web" title="" target="_blank"><img src="https://us-ms.gr-cdn.com/getresponse-GLk4j/photos/79e84a53-2598-4bd5-8657-405c1a1bf4fd.png" alt="" width="280" height="210"></a></div><div data-editable="multimedia:image" id="edi-qjgshdo" data-draggable="true" data-uid="edi-qjgshdo" class="" style="background: none;">

<a href="https://online.stratos360.com.mx/magna-mod2" data-url="https://online.stratos360.com.mx/magna-mod2" data-link-type="web" title="" target="_blank"><img src="https://us-ms.gr-cdn.com/getresponse-GLk4j/photos/4b3ea2fe-3bcf-4bee-9378-13cf5c884e9b.png" alt="" width="280" height="210"></a></div><div data-editable="multimedia:image" id="edi-5fohtqc" data-draggable="true" data-uid="edi-5fohtqc" class="" style="background: none;">

<a href="https://online.stratos360.com.mx/magna-mod3" data-url="https://online.stratos360.com.mx/magna-mod3" data-link-type="web" title="" target="_blank"><img src="https://us-ms.gr-cdn.com/getresponse-GLk4j/photos/5bb59f6d-9b9f-4316-adc0-2ab0a1eee990.png" alt="" width="280" height="210"></a></div><div data-editable="text" id="edi-9locmk8" data-draggable="true" data-uid="edi-9locmk8" class="">
<div class="text-content" dir="auto"><div><div><span style="font-family: Montserrat, Arial, sans-serif; font-weight: bold;">Da clic en el Módulo que desees para tomar la clase.</span></div></div></div>
</div><div data-editable="multimedia:image" id="edi-pbg44jv" data-draggable="true" data-uid="edi-pbg44jv" class="" style="background: none;">

<img src="https://us-ms.gr-cdn.com/getresponse-GLk4j/photos/ac6e4ea5-6669-496e-8c05-d2dd5016d79c.png" alt="" width="462" height="112"></div><div data-editable="text" id="edi-7xudjds" data-uid="edi-7xudjds" class="" data-draggable="true">
<div class="text-content" dir="auto"><span style="font-family: Montserrat, Arial, sans-serif; color: rgb(204, 14, 35);">CONTENIDO <span style="font-weight: bold;">TEMÁTICO</span></span></div>
</div><div data-editable="multimedia:image" id="edi-eg305xi" data-draggable="true" data-uid="edi-eg305xi" class="" style="background: none;">

<a href="https://online.stratos360.com.mx/magna-mod3" data-url="https://online.stratos360.com.mx/magna-mod3" data-link-type="web" title="" target="_blank"><img src="https://us-ms.gr-cdn.com/getresponse-GLk4j/photos/cb0221e9-6b89-4667-87d2-1861d5d60892.png" alt="" width="280" height="210"></a></div><div data-editable="multimedia:image" id="edi-uy96vp3" data-draggable="true" data-uid="edi-uy96vp3" class="" style="background: none;">

<a href="https://online.stratos360.com.mx/magna-mod4" data-url="https://online.stratos360.com.mx/magna-mod4" data-link-type="web" title="" target="_blank"><img src="https://us-ms.gr-cdn.com/getresponse-GLk4j/photos/c33dd0ee-9a1d-4ab9-9b90-e270e028724e.png" alt="" width="280" height="210"></a></div><div data-editable="multimedia:image" id="edi-wmdazei" data-draggable="true" data-uid="edi-wmdazei" class="" style="background: none;">

<a href="https://online.stratos360.com.mx/magna-mod4" data-url="https://online.stratos360.com.mx/magna-mod4" data-link-type="web" title="" target="_blank"><img src="https://us-ms.gr-cdn.com/getresponse-GLk4j/photos/ed828b6b-c1cf-48d4-956b-c8292c550efd.png" alt="" width="280" height="210"></a></div><div data-editable="text" id="edi-08ocg3a" data-draggable="true" data-uid="edi-08ocg3a" class="">
<div class="text-content" dir="auto"><div><div><b>Generalidades Seguridad e Higiene</b></div></div></div>
</div><div data-editable="text" id="edi-hbftd4e" data-draggable="true" data-uid="edi-hbftd4e" class="">
<div class="text-content" dir="auto"><div><div><b>Accidentes e</b></div><div><b>Incidentes</b></div></div></div>
</div><div data-editable="text" id="edi-83f9s3p" data-draggable="true" data-uid="edi-83f9s3p" class="">
<div class="text-content" dir="auto"><div><div><b>Peligros y</b></div><div><b>riesgos</b></div></div></div>
</div><div data-editable="text" id="edi-zti0mxq" data-draggable="true" data-uid="edi-zti0mxq" class="">
<div class="text-content" dir="auto"><div><b>Reglas de&nbsp;</b><b style="font-size: 16px;">Seguridad</b></div></div>
</div><div data-editable="text" id="edi-44li59r" data-draggable="true" data-uid="edi-44li59r" class="">
<div class="text-content" dir="auto"><div><b>Ruta de emergencia / Uso de extintores / Dispositivos de emergencia</b></div></div>
</div><div data-editable="text" id="edi-rv6zs99" data-draggable="true" data-uid="edi-rv6zs99" class="">
<div class="text-content" dir="auto"><div><b>Dispositivos de</b></div><div><b>seguridad</b></div></div>
</div><div data-editable="text" id="edi-ms6zjmy" data-draggable="true" data-uid="edi-ms6zjmy" class="">
<div class="text-content" dir="auto"><div><b>Proceso loto</b></div></div>
</div><div data-editable="text" id="edi-t24dahv" data-draggable="true" data-uid="edi-t24dahv" class="">
<div class="text-content" dir="auto"><div><b>EPP</b></div></div>
</div><div data-editable="text" id="edi-qleutbp" data-draggable="true" data-uid="edi-qleutbp" class="">
<div class="text-content" dir="auto"><div><b>Dispositivos Auditivos</b></div></div>
</div></div>
</section><section data-section="section" data-draggable="true" id="section-2d58jnv" data-uid="section-2d58jnv" class="">
<div data-section="wrap" data-reverse="true"></div>
</section>        <script src="https://us-as.gr-cdn.com/javascripts/core/lps/dist/manifest.b32595e925aa7c67875b.js"></script>
    <script src="https://us-as.gr-cdn.com/javascripts/core/lps/dist/vendor.chunk.c31db2ddaf51ca74d70f.js"></script>
    <script src="https://us-as.gr-cdn.com/javascripts/core/lps/dist/show.chunk.6c6fcd94bea9049e0bc8.js"></script>
            




</body>