section#section-v52a72c {
    background-color: rgb(149, 0, 0);
    visibility: visible;
    top: auto;
    left: auto;
    transform-origin: 0px 0px;
    position: relative;
    height: 520px;
    z-index: 2;
    background-image: none;
}

div#edi-69x3raw {
    visibility: visible;
    width: 671px;
    height: auto;
    top: 91px;
    left: 244px;
    transform-origin: 0px 0px;
    z-index: 2;
    text-align: center;
}

div#edi-j1i12wn {
    visibility: visible;
    width: 517px;
    height: auto;
    top: 240px;
    left: 321px;
    transform-origin: 0px 0px;
    z-index: 2;
    text-align: center;
}

div#edi-fs7qur3 {
    visibility: visible;
    width: 197px;
    height: auto;
    top: -22px;
    left: 481px;
    transform-origin: 0px 0px;
    z-index: 2;
    text-align: center;
}