<div class="containertest">

    <div class="slides">
        

        <div class="moduloselector">

        <div class="image-button-wrapper">
    <img src="../../../../assets/maqueta11/MAGNA temario_ modulo1.1 (cuadrado).png">
    <button (click)="gotomodulo()" ngbTooltip="Modulo 1 intreoduction"></button>
        </div>

        
        <div class="image-button-wrapper">
            <img src="../../../../assets/maqueta11/MAGNA temario_ modulo1.1 (cuadrado).png">
            <button (click)="gotomodulo()" ngbTooltip="Modulo 1 intreoduction"></button>
                </div>

                
        <div class="image-button-wrapper">
            <img src="../../../../assets/maqueta11/MAGNA temario_ modulo1.1 (cuadrado).png">
            <button (click)="gotomodulo()" ngbTooltip="Modulo 1 introduction"></button>
                </div>

                
                
        <div class="image-button-wrapper">
            <img src="../../../../assets/maqueta11/MAGNA temario_ modulo1.1 (cuadrado).png">
            <button (click)="gotomodulo()" ngbTooltip="Modulo 1 intreoduction"></button>
                </div>
                  
                <div class="image-button-wrapper">
                    <img src="../../../../assets/maqueta11/MAGNA temario_ modulo1.1 (cuadrado).png">
                    <button (click)="gotomodulo()" ngbTooltip="Modulo 1 intreoduction"></button>
                        </div>
                  
                        <div class="image-button-wrapper">
                            <img src="../../../../assets/maqueta11/MAGNA temario_ modulo1.1 (cuadrado).png">
                            <button (click)="gotomodulo()" ngbTooltip="Modulo 1 intreoduction"></button>
                                </div>
                  
                                <div class="image-button-wrapper">
                                    <img src="../../../../assets/maqueta11/MAGNA temario_ modulo1.1 (cuadrado).png">
                                    <button (click)="gotomodulo()" ngbTooltip="Modulo 1 intreoduction"></button>
                                        </div>
                                                        

        
    
    </div>

    </div>
    </div>