
.fondo{
    position: absolute;

}
.enterleft{
    position: absolute; //keeps them in place
    animation: enterleftanim 1s ease-in-out forwards;
    transform: translateX(-100%); /* Set initial position */
    opacity: 0; /* Set initial opacity */
   // animation-play-state: paused;

}

.enteright{
    position: absolute;
    animation: enterrightanim 1s ease-in-out forwards;
    transform: translateX(+100%); /* Set initial position */
    opacity: 0; /* Set initial opacity */
    //animation-play-state: paused;

}

.f1 {
    animation-delay: .1s; /* Delay for the first image */
}

.f2 {
    animation-delay: .6s; /* Delay for the second image */
}

.f3 {
    animation-delay: .8s; /* Delay for the third image */
}

.f4 {
    animation-delay: 1s; /* Delay for the third image */
}

@keyframes enterleftanim {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    
}

@keyframes enterrightanim {
    from {
        transform: translateX(+100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    
}



.bordered-boxxx {
    z-index: 5; // 
 

position: absolute;

top: 50%;
//left: 10%;
left: 10%; // use vw here
transform: translateY(-50%);
//border: 1px solid black;
width: 40%; /* adjust as needed */
height: 40%; /* adjust as needed */

//width: 40vw; // use vw here
//height: 40vh; // use vh here

display: flex; /* add this */


justify-content: center; /* add this */
//align-items: center; /* add this */
flex-direction: column; /* add this */


}

.bordered-box > p,.bordered-box > h1,.bordered-box >h2,.bordered-box >h3,.bordered-box >h4,.bordered-box >h5,.bordered-box >h6 {
    color: white;
    font-family: 'Montserrat', sans-serif;

    position:relative;
    display: block;


    font-size: 1.5vw; //only for p
    animation: slideInFromBottom 1s ease-out forwards;
    animation-delay: 1.5s;

    //init state
    transform: translateY(100%);
    opacity: 0;
}

.bordered-box > *:nth-child(1) {
    animation-delay:  1.5s; /* adjust as needed */
}

.bordered-box > *:nth-child(2) {
    animation-delay:  1.8s; /* adjust as needed */
}

.bordered-box > *:nth-child(3) {
    animation-delay:  1.9s; /* adjust as needed */
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}