<div class="slidescontainer">
<div class="containertest">

    <div class="slides">
        
        <img class="enterleft" src="../../../../assets/maqueta11/MAGNA Diapositiva 3_ elemento 1.png">
        <img class="enteright f2" src="../../../../assets/maqueta11/MAGNA Diapositiva 3_ elemento 2.png">
        <div class="bordered-box bigbox">
        <h3 style>Objetivo<br></h3>
        
       
        <h5>El participante adquirirá los conocimientos, habilidades y actitudes para comenzar a desempeñar su labor correcta y de maneras segura.
            <br><br> </h5>
           
            <h3>Metodología y recomendaciones<br></h3>
       

        <P>Curso Online con material didáctico de apoyo. 
            </P>
            <P>   Se recomienda tomar este curso de corrido sin saltar clases. 
                </P>  
                <P>
                    Revisar las actividades y formatos complementarias de la plataforma.
                    </P>
                </div>
                    <img src="../../../../assets/maqueta11//MAGNA fondo transparente.png">
    
</div>
    </div>


</div>