<body>

  <div class="containertest">

    <div class="slides">






      <img class="enterleft f1" src="../../../../assets/MAGNA-fondo_examenes.png">









      <form class="form-container" [formGroup]="formu" (ngSubmit)="onSubmit(formu.value)">
        <div class="slidesubtitle">
          <h4>Examen Unidad 3</h4>
        </div>

        <div *ngFor="let question of questions; let i = index">
          <p>{{question}}</p>
          <div *ngFor="let answer of answers[i]; let j = index">
            <input formControlName="a{{incrementIndex(i) }}" type="radio" id="option{{i}}{{j}}" value="{{j+1}}">
            <label for="option{{i}}{{j}}">{{answer}}</label>
            <br>
          </div>
          <br><br>
        </div>

        <button *ngIf="!isdone" [disabled]="formu.invalid" type="button" (click)="validateScore()"
          class="btn btn-primary">Enviar</button>

      </form>

      <img src="../../../../assets/maqueta11//MAGNA fondo transparente.png">
    </div>
  </div>

</body>