<div class="containertest">

    <div class="slides">
        <img class="absolute" src="../../../../assets/maqueta11//MAGNA fondo transparente.png">

        <img class="enterleft f3" src="../../../../assets/maqueta11/MAGNA Diapositiva 3_ elemento 1.png">

        <img class="enteright f4" src="../../../../assets/maqueta11/MAGNA Diapositiva 3_ elemento 2.png">

        <img class="enterbottom f4" src="../../../../assets/Felicitaciones/MAGNA-felicitacion5-2.png">



        <!-- <h5 class="slidetitle">Felicitaciones! Has completado el Módulo 1.1
          </h5>-->
        <img src="../../../../assets/maqueta11//MAGNA fondo transparente.png">


    </div>
</div>