form {
    position: absolute;
    margin-top: 11vh;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -20%);
    /* Set a width and height for the form */
    width: 80%;
    height: 110%;
  }