<div class="containertest">

    <div class="slides">




        <img class="fondo" src="../../../../assets/maqueta11/MAGNA Diapositiva 1_ fondo.png">

        <img class="enterleft f1" src="../../../../assets/maqueta11/MAGNA Diapositiva 1_ elemento 2.png">

        <img class="enterleft f2" src="../../../../assets/maqueta11/MAGNA Diapositiva 1_ elemento 1.png">

        <img class="enterleft f3" src="../../../../assets/maqueta11/MAGNA Diapositiva 1_ logo.png">

        <img class="enteright f4" src="../../../../assets/maqueta11/MAGNA Diapositiva 1_ persona.png">

        <img class="enterleft f4" src="../../../../assets/newslides4/MAGNA Actualizacion (Junio)_1.1-1.png">

        <!-- <div class="bordered-box">
            <h3>¡Te da la bienvenida!</h3>
            <h5>CURSO DE CONCIENTIZACIÓN DE SEGURIDAD</h5>
    
            <P>Tu tiempo y tu integración son muy valiosos para nosotros. 
                Preparamos esta plataforma de capacitación 
                para que conozcas todos los puntos de seguridad en nuestra planta.</P>
        
            </div>-->
        <img src="../../../../assets/maqueta11//MAGNA fondo transparente.png">







    </div>



</div>


<!--
    <div class="containertest">
    
        <div class="slides">
            <img class="fondo"src="../../../../assets/maqueta11/MAGNA Diapositiva 1_ fondo.png">

            <img class="enterleft f1" src="../../../../assets/maqueta11/MAGNA Diapositiva 1_ elemento 2.png">
        
            <img class="enterleft f2"src="../../../../assets/maqueta11/MAGNA Diapositiva 1_ elemento 1.png">
        
            <img class="enterleft f3"src="../../../../assets/maqueta11/MAGNA Diapositiva 1_ logo.png">
        
            <img class="enteright f4" src="../../../../assets/maqueta11/MAGNA Diapositiva 1_ persona.png"> <div class="bordered-box">
           
             

                <div class="bordered-box">
                    <p> • Curso Online con material didáctico de apoyo.
                        </p>  
                    <p>• Se recomienda tomar este curso de corrido sin saltar
                    clases.</p> 
                    <p>• Revisar las actividades y formatos complementarias de
                        la plataforma.</p> 
                
                    </div>
              
    
                <img src="../../../../assets/maqueta11//MAGNA fondo transparente.png">
        </div>
        </div>
  

    -->




<!--<div class="bordered-box">
                <h3>¡Te da la bienvenida</h3>
            <h5>CURSO DE</h5>
            <h5>CONCIENTIZACIÓN DE SEGURIDAD</h5>
    
            <P>Tu tiempo y tu integración son muy valiosos para nosotros. 
                Preparamos esta plataforma de capacitación 
                para que conozcas todos los puntos de seguridad en nuestra planta.</P>
            

                </div>-->