<div class="containertest">

    <div class="slides">




        <!--<img class="fondo"src="../../../../assets/maqueta11/MAGNA Diapositiva 1_ fondo.png">-->

        <img class="enterleft f1" src="../../../../assets/MAGNA-fondo2.png">

        <img class="enterleft f2" src="../../../../assets/MAGNA-fondo_general.png">

        <img class="enteright f3" src="../../../../assets/maqueta11/MAGNA Diapositiva 2_ foto.png">
        <!--<h5 class="slidesubtitle">Reglamento transito
        </h5>-->

        <div class="borderer-box bigbox" [class]="slideTextClass">


            <h3 ngPreserveWhitespaces [innerHTML]="text" class="slidesubtitle text-red"></h3>
            <p *ngIf="secondslide">En cada curva, Levanta la mano hasta que el operador te vea y toque su claxon en
                señal de brindar el paso.
            </p>
            <p *ngIf="secondslide">Camina solamente por los pasillos azules.

            </p>
            <p *ngIf="secondslide">En caso de invadir dicho carril, no olvides usar tu chaleco anti reflejante.
            </p>
            <p *ngIf="secondslide">En cada curva, Levanta la mano hasta que el operador te vea y toque su claxon en
                señal de brindar el paso.
            </p>
            <p *ngIf="secondslide">En cada cruce o intersección, el peatón debe de levantar la mano para solicitar el
                paso, deberá de hacer contacto visual con el montacarguista hasta que toque el claxon o apague las luces
                de camino para que te brinde el paso.
            </p>
        </div>



        <img src="../../../../assets/maqueta11//MAGNA fondo transparente.png">







    </div>



</div>