.body{

    width: 80%;
    height: 70vh;
    margin: 3rem;
    background-color: rgb(185, 100, 39);
    border: thin solid rebeccapurple;
}

.content{

    margin: 2rem;
}

/* scroll-snap */
.x.mandatory-scroll-snapping {
    scroll-snap-type: x mandatory;
  }
  .x.proximity-scroll-snapping {
    scroll-snap-type: x proximity;
  }
  .y.mandatory-scroll-snapping {
    scroll-snap-type: y mandatory;
  }
  .y.proximity-scroll-snapping {
    scroll-snap-type: y proximity;
  }
  
  .container > div {
    text-align: center;
    scroll-snap-align: center;
    flex: none;
  }