<!--<div class="containerd">
    <div class="diploma">
        <span id="name" style="font-size: 2em;font-weight: bold;">{{name}}</span>

        <p id="date" style="font-size: 1.5em; color: red; font-weight: bold;"></p>
    </div>
</div>-->
<div class="containertest">

    <div class="slides">




        <!--<img class="fondo"src="../../../../assets/maqueta11/MAGNA Diapositiva 1_ fondo.png">-->

        <img class="enterleft f1" src="../../assets/MAGNA-fondo_general.png">

        <img class="enterleft f2" src="../../assets/Felicitaciones/MAGNA WEB Elementos_ Diploma 01.png">








        <img src="../../assets/maqueta11//MAGNA fondo transparente.png">







    </div>



</div>
<button class="btn btn-secondary" id="download"
    style="background-color: #f09697; font-size: 20px; padding: 10px 20px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);">DESCARGAR
    DIPLOMA</button>