<!--<div class="containerd">
    <div class="diploma">
        <span id="name" style="font-size: 2em;font-weight: bold;">{{name}}</span>

        <p id="date" style="font-size: 1.5em; color: red; font-weight: bold;"></p>
    </div>
</div>-->
<div class="containertest">

    <div class="slides">


        <div style="text-align: center; font-family: 'Montserrat', sans-serif; font-weight: bold;">
            <h4 *ngIf="sumascoredone==true"
                style="margin-bottom: 20px; font-family: 'Montserrat', sans-serif; font-weight: bold; z-index: 1000;">Tu
                calificación
                final
                fue {{sumascores}}</h4>
            <button class="btn btn-secondary" id="download"
                style="background-color: #f09697; font-size: 20px; padding: 10px 20px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); z-index: 1000;">DESCARGAR
                DIPLOMA</button>
        </div>

        <!--<img class="fondo"src="../../../../assets/maqueta11/MAGNA Diapositiva 1_ fondo.png">

        <img class="enterleft f1" src="../../assets/MAGNA-fondo_general.png">-->

        <img class="enterleft f2" src="../../assets/newslides4//MAGNA WEB Elemento final 02.png">




        <img src="../../assets/maqueta11//MAGNA fondo transparente.png">







    </div>



</div>